.navigasi {
    background-color: greenyellow;
}

.main {
    background-color: blanchedalmond;
}

.main span {
    background-color: aqua;
}

.main {
    width: 600px;
}

h2 {
    background-color: aqua;
}

.navigasi li {
    display: inline;
}