div {
    width: 200px;
    height: 200px;
    position: absolute;
    font-size: 30px;
}

.satu {
    background-color: lightgreen;
    z-index: 3;
}

.dua {
    background-color: violet;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.tiga {
    background-color: gold;
    top: 200px;
    left: 200px;
    z-index: 1;
}