.kotak {
    width: 200px;
    height: 200px;
    background-color: salmon;
    animation: melebar 2s ease;
}

@keyframes melebar {
    0% {
        width: 200px;
    }

    50% {
        width: 500px;
        height: 200px;
    }

    100% {
        width: 500px;
        height: 500px;
    }
}